/* main color */

$primary: #2c2c38; //header-navigator background
$secondary: #21212d; //main background
$border: #3f3f4b; // border color
$text-light: #898f9f; // navigator text
$text-white: #fefeff; // text white
$text-purple: #6a67a0; // text purple
$active: #645fc6; // active
$hoveredWhite: #e4e4e4;
